@import "~bootstrap/scss/bootstrap";
@import 'mobile';


$app-color: #f68b1e;
$white: #ffffff;
$jumia-color: #f1f1f2;
.auth{
    &-container{
        min-height: 100vh;
        max-width: 500px;
        margin: auto;
        padding: 20px;
    }
    &-btn{
        background-color: $app-color;
        color: $white;
        border: $app-color;
    }
    &-error{
        color: red;
    }
}

.jumia{
    &-logo > img{
        position: fixed;
        left: 50% !important;
        top: 400px;
        z-index: 1000;
        animation: spin 2s linear infinite;
    }
    &-inner{
        background-color: $jumia-color;
        &-product >h5{
            max-width: 200px
        }
    }
    &-big{
        position: sticky;
        z-index: 1000;
        top: 0;
        height: 75px;
        margin-bottom: 71px;
    }
    &-header{
        background-color: $white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        &-inner{
        gap: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
    }
    &-input{
        width: 590px;
    }
    &-btn{
        color: $white;
        background-color: $app-color;
        border: $app-color;
        width: 95px;
    }
    &-product, &-pack{ 
        width: 206px;
        background-color: $white;
        
    }
    &-pack{
        background-color: $app-color;
    }
    &-display > img{
        height: 500px;
    }
    &-account{
        position: absolute;
        top: 100%;
        margin-top: 12px;
        background: $white;
        padding: 25px;
        border-radius: 3px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    &-products{
    &-container{
            max-width: 1020px;
            margin: auto;
        }
}
}

.resize{
    height: 240px !important;
}
.full{
    width: 100%;
    justify-content: center !important;
}

.awoof{
    width: 250px;
    height: 250px;
    &:hover{
    width: 280px;
    height: 280px;
    transition: width 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
}


.cursor:hover{
    cursor: pointer;
    color: $app-color;
}

.drop-account{
    width: 110px;
}

.point{
    cursor: pointer;
}

.pointer, a{
    cursor: pointer;
    text-decoration: none !important;
    color: black;
    &:hover{
        color: black;
        background: rgb(245, 245, 245);
        padding: 3px;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
    }
}

.new{
    position: absolute;
    top: 39% !important;
}

.hr{
    padding: 12px 5px 10px 5px;
    margin: 0px;
    &:hover{
        border-radius: 5px;
        color: $white;
        width: fit-content;
        background-color: $app-color;
        border: 1px solid $app-color;
    }
}

.carousel{
    max-width: 725px;
}


@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}